.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 143, 82, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal {
    margin-top: 5%;
    background: #f0f8ff;
    padding: 2rem;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(255, 143, 82, 0.2);
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #EE5300;
    cursor: pointer;
  }
  
  .overlay h2 {
    text-align: center;
    color: #EE5300;
    margin-bottom: 1rem;
  }
  
  .form_group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .form_group label {
    font-weight: bold;
    margin-bottom: 0.3rem;
    color: #EE5300;
  }
  
  .form_group input,
  .form_group textarea {
    padding: 0.5rem;
    border: 1px solid #a3c1e0;
    border-radius: 6px;
    font-size: 1rem;
  }
  
  .overlay textarea {
    resize: vertical;
    min-height: 80px;
  }
  
  .saveButton {
    background-color: #FF8F52;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .saveButton:hover {
    background-color: #FF8F52;
  }
   /* Botón cerrar */
  .closeButton {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #003366;
    cursor: pointer;
  }
  
  /* Contenedor de botones */
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
  
  /* Botón eliminar */
  .deleteButton {
    background-color: #cc0000;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
  }
  .cancelButton {
    background-color: #777;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
  } 